{% load static %}
<!doctype html>
<html lang="en">

<!-- head-->
{% include 'UserAdmin/include/head.html' %}
<style>
  .errorlist{
    color: red;
}
</style>
{{ form.media }}
<!--/ head-->

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    
    <!-- header-->
    {% include 'UserAdmin/include/sidebar.html' %}
    <!--/ header-->

   
    {% include 'UserAdmin/include/verticalBar.html' %}

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col-8 card p-3">
                        {% include 'UserAdmin/include/messages.html' %}
                        <form method="post">
                          <div class="h3 text-center">Change Password</div>
                          <hr>
                          {% csrf_token %}
                          {{form.as_p}}
                        <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                    </div>
                  </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'UserAdmin/include/footer.html' %}




    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

</body>
</html>