{% load static %}
<!doctype html>
<html lang="en">

<!-- head-->
{% include 'UserAdmin/include/head.html' %}
{{ form.media }}
<!--/ head-->

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    
    <!-- header-->
    {% include 'UserAdmin/include/sidebar.html' %}
    <!--/ header-->

   
    {% include 'UserAdmin/include/verticalBar.html' %}

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-sm table-hover caption-top ">
                      {% include 'UserAdmin/include/messages.html' %}                    
                      <caption>Companies</caption>
                        <button class="btn btn-primary float-end" 
                        data-bs-toggle="modal"
                        data-bs-target="#AddCompany"
                        data-bs-whatever="@mdo">Add New Company</button>
                      <div class="row">

                        <form>
                          <div class="col-8 col-md-4 m-1">
                            <input type="text" name="q" class="form-control ps-3 pe-3" placeholder="Enter Key Word">
                          </div>
                          <div class="col-3 col-md-1 m-1">
                            <button type="submit" class="btn btn-primary" ><span class="mdi mdi-magnify"></span></button>
                          </div>        
                        </form>            
                      </div>

                        <thead  class="table-light">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Logo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Since</th>
                            <th scope="col">Views</th>
                            <th scope="col">Total Jobs</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if companies %}
                            {% for company in companies %}
                          <tr>
                            <th scope="row">{{count | add:forloop.counter}}</th>
                            <td><img src="/media/{{company.logo}}" class="img-fluid" style="height: 30px; width: 30px;" alt=""></td>
                            <td>{{company.name}}</td>
                            <td>{{company.email}}</td>
                            <td>{{company.phone}}</td>
                            <td>{{company.since}}</td>
                            <td>{{company.views}}</td>
                            <td>{{company.total_jobs}}</td>
                            <td>
                               
                            <button 
                            type="button" 
                            class="btn btn-detail btn-outline-secondary mt-2 btn-sm me-2"
                            data-bs-toggle="modal"
                            data-bs-target="#detailCompanies"
                            data-bs-whatever="@mdo"
                            data-logo="{{company.logo}}"
                            data-name="{{company.name}}"
                            data-slogan="{{company.slogan}}"
                            data-about='{{company.about | safe }}'
                            data-email="{{company.email}}"
                            data-address="{{company.address}}"
                            data-phone="{{company.phone}}"
                            data-since="{{company.since}}"
                            data-views="{{company.views}}"
                            data-total_jobs="{{company.total_jobs}}"
                            data-location="{{company.location}}"
                            data-website="{{company.website}}"
                            >
                            <i class="fa fa-eye"></i> 
                            </button>
                            
                            <a class="btn btn-outline-warning mt-2 btn-sm me-2 btn-edit " href="{% url 'user-admin-company-detail' company.id %}"><i class="fa fa-pen"></i></a>
                            
                        </button>
                        </button>
                              <button 
                              class="btn btn-outline-danger mt-2 btn-sm btn-delete"  
                              data-bs-toggle="modal" 
                              data-bs-target="#deleteCompanyModal"
                              data-bs-whatever="@mdo"
                              data-id = {{company.id}}
                              data-name = {{company.name}}
                              >
                              <i class="fa fa-trash"></i> 
                            </button>
                        </td>
                          </tr>
                          {% endfor %}
                          {% else %}
                          <tr>
                            <td class="text-center text-danger" colspan="9">No Data Found</td>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>

                      <!-- Pagination -->
             <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pagination-outline justify-content-center" >
                {% if companies.has_previous %}
                  <li class="page-item">
                  <a class="page-link" href="?page={{ companies.previous_page_number }}">Previous</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                  </li>
                {% endif %}
            
                {% if companies.number|add:'-4' > 1 %}
                  <li class="page-item"><a class="page-link" href="?page={{ companies.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}
            
                {% for i in companies.paginator.page_range %}
                  {% if companies.number == i %}
                    <li class="page-item active" aria-current="page">
                    <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  {% elif i > companies.number|add:'-5' and i < companies.number|add:'5' %}
                     <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
            
                {% if companies.paginator.num_pages > companies.number|add:'4' %}
                   <li class="page-item"><a class="page-link" href="?page={{ companies.number|add:'5' }}">&hellip;</a></li>
                {% endif %}
            
                {% if companies.has_next %}
                  <li class="page-item">
                  <a class="page-link" href="?page={{ companies.next_page_number }}">Next</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                  </li>
                {% endif %}
                </ul>
              </nav>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'UserAdmin/include/footer.html' %}
    </div>
    <!-- end main content-->



<!--Detail Company Modal-->
  <!-- Modal -->
  <div class="modal fade" id="detailCompanies" tabindex="-1" aria-labelledby="detailCompaniesLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailCompaniesLabel">Company Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div id="detailModalBody" class="modal-body">
        </div>
    </div>
  </div>
</div>
<!--End Modal -->

<!--Add Company Modal-->
  <!-- Modal -->
  <div class="modal fade" id="AddCompany" tabindex="-1" aria-labelledby="AddCompanyLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddCompanyLabel">Company Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form  method="post" enctype="multipart/form-data">
          <div id="detailModalBody" class="modal-body">
            {% csrf_token %}
            {{form.as_p}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="submit" class="btn btn-primary">Save</button>
            
          </div>

        </form>
    </div>
  </div>
</div>
<!--End Modal -->

<!--Delete  Modal-->
  <!-- Modal -->
  <div class="modal fade" id="deleteCompanyModal" tabindex="-1" aria-labelledby="deleteCompanyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCompanyModalLabel">Delete Responsible Ministry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="h4 fw-normal" id="deleteMessageYear"></p>
        </div> 
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="#" id="deleteCompanyAnchor" type="submit" class="btn btn-danger">Delete</a>
        </div>
        
      </div>
    </div>
  </div>
  <!--End Modal -->



</div>
<!-- END layout-wrapper -->

<!-- JAVASCRIPT -->
<script src="{% static 'UserAdmin/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'UserAdmin/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'UserAdmin/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'UserAdmin/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'UserAdmin/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'UserAdmin/js/app.js' %}"></script>

<script>
$(document).ready(function(){

    // Start Detail Data

    //Event handler that handle button on Click
    $(".btn-detail").on('click', function(){
          const buttonData = $(this).data()
          //Open Modal
         handleDetailModalCompany(
            buttonData.name, 
            buttonData.logo, 
            buttonData.slogan,
            buttonData.about,
            buttonData.email,
            buttonData.address,
            buttonData.phone,
            buttonData.since,
            buttonData.views,
            buttonData.total_jobs,
            buttonData.location,
            buttonData.website,
            )
    });


    handleDetailModalCompany = (name, logo, slogan, about, email, address, phone, since, views, total_jobs, location, website )=>{
        let htmlBody = `
            <div class="mt-3">
                <p class="fw-bold" >Name: <span class="fw-normal">${name}</span></p> 
                <p class="fw-bold" >slogan: <span class="fw-normal" >${slogan}</span></p>
                <p class="fw-bold" >Email: <span class="fw-normal" >${email}</span></p>
                <p class="fw-bold" >Address: <span class="fw-normal" >${address}</span></p>
                <p class="fw-bold" >Phone: <span class="fw-normal" >${phone}</span></p>
                <p class="fw-bold" >Since: <span class="fw-normal" >${since}</span></p>
                <p class="fw-bold" >Views: <span class="fw-normal" >${views}</span></p>
                <p class="fw-bold" >Total Jobs: <span class="fw-normal" >${total_jobs}</span></p>
                <p class="fw-bold" >Location: <span class="fw-normal" >${location}</span></p>
                <p class="fw-bold" >Website: <span class="fw-normal" >${website}</span></p>
                <p class="fw-bold" >About: <span class="fw-normal" >${$(about).text().replace('Powered by Froala Editor', '')}</span></p>
            </div>
        `
        $('#detailModalBody').html(htmlBody)

    }



     //Event handler that handle on Click to delete
     $(".btn-delete").on('click', function(){
          const buttonData = $(this).data()
          $("#deleteCompanyAnchor").attr("href", `/user-admin/company-delete/${buttonData.id}`)
          $("#deleteMessageYear").html(`Are you sure you want to delete <div> <code> ${buttonData.name}</code>? </div> `)
        })


    
         // Edit Data Detail 

    })

</script>

</body>
</html>