{% load static %}
<!doctype html>
<html lang="en">

<!-- head-->
{% include 'UserAdmin/include/head.html' %}
<!--/ head-->

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    
    <!-- header-->
    {% include 'UserAdmin/include/sidebar.html' %}
    <!--/ header-->

   
    {% include 'UserAdmin/include/verticalBar.html' %}

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="ri-group-line"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Users</p>
                                        <h2 class="mb-3 Single1">{{total_user}}</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="mdi mdi-office-building"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Companies</p>
                                        <h2 class="mb-3 Single2">{{total_companies}}</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="mdi mdi-treasure-chest"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Jobs</p>
                                        <h2 class="mb-3 Single3">{{total_jobs}}</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="mdi mdi-pen"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Applications</p>
                                        <h2 class="mb-3 Single4">{{total_application}}</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->


                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title">Overview</h5>
                                    </div>
                                </div>

                                <div>
                                    <div id="mixed-chart" class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                            <!-- end card-body -->

                            <div class="card-body border-top">
                                <div class="text-muted text-center">
                                    <figure class="highcharts-figure">
                                        <div id="container"></div>
                                       
                                    </figure>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex  align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title">Top Views</h5>
                                    </div>
                                </div>
                                <div class="row">

                                    {% for company in company_views%}
                                    <div class="col-4">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-primary font-size-18">
                                                    <img  class="img-fluid" src="/media/{{company.logo}}" alt="">
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">{{company.name}}</h5>
                                            <p class="text-muted mb-0">{{company.views}} Views</p>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->


                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex  align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title">Top Sectors</h5>
                                    </div>
                                </div>
                                <div class="row">

                                    {% for sector in sectors_with_job_counts%}
                                    <div class="col-4">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-info font-size-18">
                                                    <i class="mdi mdi-account-hard-hat"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">{{sector.name}}</h5>
                                            <p class="text-muted mb-0">{{sector.job_posting_count}} Jobs</p>
                                        </div>
                                    </div>

                                    {% endfor %}

                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->


                    </div>
                    <!-- end col -->
                    
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Recent Messages</h4>

                                <div class="pe-3" data-simplebar style="max-height: 287px;">

                                    {% for msg in contact_messages %}
                                    <a href="{% url 'admin-contact-message-detail' msg.id%}" class="text-body  d-block">
                                        <div class="d-flex py-3">
                                            

                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1 text-primary">{{ forloop.counter }} {{msg.name}}</h5>
                                                <p class="text-truncate mb-0">
                                                   {{msg.subject}}
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                {{msg.created_at | timesince}} ago
                                            </div>
                                        </div>
                                    </a>

                                    {% endfor %}


                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Latest Blogs</h4>

                                <div class="pe-3" data-simplebar style="max-height: 287px;">
                                    {% for blog in blogs %}
                                    
                                    <a href="{% url 'user-admin-blog-detail' blog.id %}" class="text-body d-block">
                                        <div class="d-flex py-3">
                                        
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1"> {{ forloop.counter }}  {{blog.title}}</h5>
                                                <p class="text-truncate mb-0">
                                                   {{blog.description}}
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                {{blog.created_at | timesince}} ago
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                     

                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->


                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Latest Transaction</h4>

                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Timestamp</th>
                                                <th scope="col">User</th>
                                                <th scope="col">Action</th>
                                                <th scope="col">Object</th>
                                                <th scope="col">Database</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for entry in auditlog_entries %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ entry.timestamp }}</td>
                                <td>
                                    {% if entry.actor.get_full_name %}
                                        {{ entry.actor.get_full_name }} ({{ entry.actor.username }})
                                    {% else %}
                                        System
                                    {% endif %}
                                </td>
                                {% if entry.action == 0 %}
                                    <td class="fw-bold text-success">Created</td>
                                {% elif entry.action == 1 %}
                                    <td class="fw-bold text-warning">Updated</td>
                                {% elif entry.action == 2 %}
                                    <td class="fw-bold text-danger">Deleted</td>
                                {% else %}
                                    <td class="fw-bold text-primary">Other</td>
                                {% endif %}
                                <td>{{ entry.object_repr }}</td>
                                <td>{{ entry.content_type.name }}</td>
                            </tr>
                        {% endfor %}

                                        </tbody>
                                       


                                    </table>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Latest Jobs</h4>

                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Company</th>
                                                <th scope="col">Title</th>
                                                <th scope="col">Sector</th>
                                                <th scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for job in job_posting %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ job.company }}</td>
                                <td>{{job.title}}</td>
                                <td>{{ job.sector }}</td>
                                <td>{{ job.date_posted | timesince}}</td>
                            </tr>
                        {% endfor %}

                                        </tbody>
                                       


                                    </table>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Latest Companies</h4>

                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Logo</th>
                                                <th scope="col">name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for company in companies %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><img src="/media/{{company.logo}}" class="img-fluid" style="height: 20px; width: 20px;" alt=""></td>
                                <td>{{company.name}}</td>
                            </tr>
                        {% endfor %}

                                        </tbody>
                                       


                                    </table>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->


                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'UserAdmin/include/footer.html' %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
    $({ Counter: 0 }).animate({
        Counter: $('.Single1').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single1').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
        Counter: $('.Single2').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single2').text(Math.ceil(this.Counter));
  }
});


$({ Counter: 0 }).animate({
        Counter: $('.Single3').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single3').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
        Counter: $('.Single4').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single4').text(Math.ceil(this.Counter));
  }
});


</script>
<script>
    Highcharts.chart('container', {
    chart: {
        type: 'column',
        height: 463
    },
    title: {
        text: 'Number of Jobs vs Views of companies',
        align: 'left'
    },
    xAxis: {
        categories: {{companies_graph_name | safe }},
        crosshair: true,
        accessibility: {
            description: 'Countries'
        }
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {
            name: "Job's",
            data: {{companies_graph_jobs | safe}}
        },
        {
            name: 'Views',
            data: {{companies_graph_views | safe }}
        }
    ]
});


</script>
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper --></body>
</html>