{% load static %}
<!doctype html>
<html lang="en">

<!-- head-->
{% include 'UserAdmin/include/head.html' %}
<!--/ head-->

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    
    <!-- header-->
    {% include 'UserAdmin/include/sidebar.html' %}
    <!--/ header-->

   
    {% include 'UserAdmin/include/verticalBar.html' %}

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="ri-group-line"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Users</p>
                                        <h2 class="mb-3 Single1">{{total_user}}</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="mdi mdi-office-building"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Companies</p>
                                        <h2 class="mb-3 Single2">{{total_companies}}</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="mdi mdi-treasure-chest"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Jobs</p>
                                        <h2 class="mb-3 Single3">{{total_jobs}}</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="mdi mdi-pen"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Applications</p>
                                        <h2 class="mb-3 Single4">{{total_application}}</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->


                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title">Overview</h5>
                                    </div>
                                </div>

                                <div>
                                    <div id="mixed-chart" class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                            <!-- end card-body -->

                            <div class="card-body border-top">
                                <div class="text-muted text-center">
                                    <figure class="highcharts-figure">
                                        <div id="container"></div>
                                       
                                    </figure>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex  align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title">Top Views</h5>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-4">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-primary font-size-18">
                                                    <i class="ri  ri-facebook-circle-fill text-white"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">MoPD</h5>
                                            <p class="text-muted mb-0">125 Views</p>
                                        </div>
                                    </div>


                                    <div class="col-4">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-info font-size-18">
                                                    <i class="ri  ri-twitter-fill text-white"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">ACT</h5>
                                            <p class="text-muted mb-0">50 Views</p>
                                        </div>
                                    </div>


                                    <div class="col-4">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-danger font-size-18">
                                                    <i class="ri ri-instagram-line text-white"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">MMCY</h5>
                                            <p class="text-muted mb-0">47 Views</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->


                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex  align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title">Top Sectors</h5>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-4">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-primary font-size-18">
                                                    <i class="mdi mdi-account-hard-hat"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">Technology</h5>
                                            <p class="text-muted mb-0">125 Jobs</p>
                                        </div>
                                    </div>


                                    <div class="col-4">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-info font-size-18">
                                                    <i class="mdi mdi-account-hard-hat"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">Account and Finance</h5>
                                            <p class="text-muted mb-0">50 Jobs</p>
                                        </div>
                                    </div>


                                    <div class="col-4">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-danger font-size-18">
                                                    <i class="mdi mdi-account-hard-hat"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">Marketing</h5>
                                            <p class="text-muted mb-0">47 Jobs</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->


                    </div>
                    <!-- end col -->
                    
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Contact Messages</h4>

                                <div class="pe-3" data-simplebar style="max-height: 287px;">
                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <img class="rounded-circle avatar-xs" alt=""
                                                    src="assets/images/users/avatar-2.jpg">
                                            </div>

                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Scott Elliott</h5>
                                                <p class="text-truncate mb-0">
                                                    If several languages coalesce
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                20 min ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <div class="avatar-xs">
                                                    <span
                                                        class="avatar-title bg-primary-subtle  rounded-circle text-primary">
                                                        <i class="mdi mdi-account-supervisor"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Team A</h5>
                                                <p class="text-truncate mb-0">
                                                    Team A Meeting 9:15 AM
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                9:00 am
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <img class="rounded-circle avatar-xs" alt=""
                                                    src="assets/images/users/avatar-3.jpg">
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Frank Martin</h5>
                                                <p class="text-truncate mb-0">
                                                    Neque porro quisquam est
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                8:54 am
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <div class="avatar-xs">
                                                    <span
                                                        class="avatar-title bg-primary-subtle  rounded-circle text-primary">
                                                        <i class="mdi mdi-email-outline"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Updates</h5>
                                                <p class="text-truncate mb-0">
                                                    It will be as simple as fact
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                27-03-2020
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <img class="rounded-circle avatar-xs" alt=""
                                                    src="assets/images/users/avatar-4.jpg">
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Terry Garrick</h5>
                                                <p class="text-truncate mb-0">
                                                    At vero eos et accusamus et
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                27-03-2020
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Latest Blogs</h4>

                                <div class="pe-3" data-simplebar style="max-height: 287px;">
                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <img class="rounded-circle avatar-xs" alt=""
                                                    src="assets/images/users/avatar-2.jpg">
                                            </div>

                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Scott Elliott</h5>
                                                <p class="text-truncate mb-0">
                                                    If several languages coalesce
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                20 min ago
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <div class="avatar-xs">
                                                    <span
                                                        class="avatar-title bg-primary-subtle  rounded-circle text-primary">
                                                        <i class="mdi mdi-account-supervisor"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Team A</h5>
                                                <p class="text-truncate mb-0">
                                                    Team A Meeting 9:15 AM
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                9:00 am
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <img class="rounded-circle avatar-xs" alt=""
                                                    src="assets/images/users/avatar-3.jpg">
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Frank Martin</h5>
                                                <p class="text-truncate mb-0">
                                                    Neque porro quisquam est
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                8:54 am
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <div class="avatar-xs">
                                                    <span
                                                        class="avatar-title bg-primary-subtle  rounded-circle text-primary">
                                                        <i class="mdi mdi-email-outline"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Updates</h5>
                                                <p class="text-truncate mb-0">
                                                    It will be as simple as fact
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                27-03-2020
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#" class="text-body d-block">
                                        <div class="d-flex py-3">
                                            <div class="flex-shrink-0 me-3 align-self-center">
                                                <img class="rounded-circle avatar-xs" alt=""
                                                    src="assets/images/users/avatar-4.jpg">
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="font-size-14 mb-1">Terry Garrick</h5>
                                                <p class="text-truncate mb-0">
                                                    At vero eos et accusamus et
                                                </p>
                                            </div>
                                            <div class="flex-shrink-0 font-size-13">
                                                27-03-2020
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->


                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Latest Transaction</h4>

                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Timestamp</th>
                                                <th scope="col">User</th>
                                                <th scope="col">Action</th>
                                                <th scope="col">Object</th>
                                                <th scope="col">Database</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for entry in auditlog_entries %}
                            <tr>
                                <td>{{ entry.timestamp }}</td>
                                <td>
                                    {% if entry.actor.get_full_name %}
                                        {{ entry.actor.get_full_name }} ({{ entry.actor.username }})
                                    {% else %}
                                        System
                                    {% endif %}
                                </td>
                                {% if entry.action == 0 %}
                                    <td class="fw-bold text-success">Created</td>
                                {% elif entry.action == 1 %}
                                    <td class="fw-bold text-warning">Updated</td>
                                {% elif entry.action == 2 %}
                                    <td class="fw-bold text-danger">Deleted</td>
                                {% else %}
                                    <td class="fw-bold text-primary">Other</td>
                                {% endif %}
                                <td>{{ entry.object_repr }}</td>
                                <td>{{ entry.content_type.name }}</td>
                            </tr>
                        {% endfor %}

                                        </tbody>
                                       


                                    </table>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'UserAdmin/include/footer.html' %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
    $({ Counter: 0 }).animate({
        Counter: $('.Single1').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single1').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
        Counter: $('.Single2').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single2').text(Math.ceil(this.Counter));
  }
});


$({ Counter: 0 }).animate({
        Counter: $('.Single3').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single3').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
        Counter: $('.Single4').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single4').text(Math.ceil(this.Counter));
  }
});


</script>
<script>
    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Corn vs wheat estimated production for 2020',
        align: 'left'
    },
    subtitle: {
        text:
            'Source: <a target="_blank" ' +
            'href="https://www.indexmundi.com/agriculture/?commodity=corn">indexmundi</a>',
        align: 'left'
    },
    xAxis: {
        categories: ['USA', 'China', 'Brazil', 'EU', 'India', 'Russia'],
        crosshair: true,
        accessibility: {
            description: 'Countries'
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: '1000 metric tons (MT)'
        }
    },
    tooltip: {
        valueSuffix: ' (1000 MT)'
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [
        {
            name: 'Corn',
            data: [406292, 260000, 107000, 68300, 27500, 14500]
        },
        {
            name: 'Wheat',
            data: [51086, 136000, 5500, 141000, 107180, 77000]
        }
    ]
});


</script>
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper --></body>
</html>