{% load static %}
<!doctype html>
<html lang="en">

<!-- head-->
{% include 'UserAdmin/include/head.html' %}
{{ form.media }}
<!--/ head-->

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    
    <!-- header-->
    {% include 'UserAdmin/include/sidebar.html' %}
    <!--/ header-->

   
    {% include 'UserAdmin/include/verticalBar.html' %}

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-sm table-hover caption-top ">
                      {% include 'UserAdmin/include/messages.html' %}                    
                      <caption>Jobs</caption>
                        <button class="btn btn-primary float-end" 
                        data-bs-toggle="modal"
                        data-bs-target="#AddJob"
                        data-bs-whatever="@mdo">Post Job</button>
                        <a type="button"  href="{% url 'download-job' %}"   download  class="btn float-end btn-primary me-3 mb-2">
                          <i class="fa fa-download"></i>
                       </a>
                      <div class="row">

                        <form>
                          <div class="col-8 col-md-4 m-1">
                            <input type="text" name="q" class="form-control ps-3 pe-3" placeholder="Enter Key Word">
                          </div>
                          <div class="col-3 col-md-1 m-1">
                            <button type="submit" class="btn btn-primary" ><span class="mdi mdi-magnify"></span></button>
                          </div>        
                        </form>    
                                
                      </div>

                        <thead  class="table-light">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Company</th>
                            <th scope="col">Title</th>
                            <th scope="col">Sector</th>
                            <th scope="col">Type</th>
                            <th scope="col">CompType</th>
                            <th scope="col">Salary Start</th>
                            <th scope="col">Salary Finall</th>
                            <th scope="col">Post Date</th>
                            <th scope="col">Close Date</th>
                            <th scope="col">Published</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if jobs %}
                            {% for job in jobs %}
                          <tr>
                            <th scope="row">{{count | add:forloop.counter}}</th>
                            <td>{{job.company}}</td>
                            <td>{{job.title}}</td>
                            <td>{{job.sector}}</td>
                            <td class="fw-bold">{{job.get_type_display}}</td>
                            <td class="fw-bold">{{job.get_compensation_type_display}}</td>
                            <td>{{job.salary_range_start}}</td>
                            <td>{{job.salary_range_final}}</td>
                            <td>{{job.date_posted | timesince}} Ago</td>
                            <td>{{job.date_closed | date:'F d, Y' }}</td>
                            <td>

                              {% if job.job_status %}
                              <i class="text-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                              </svg></i>
                              {% else %}
                              <i class="text-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                                </svg>
                              </i>
                              {% endif %}



                            </td>
                            <td>
                               
                            <button 
                            type="button" 
                            class="btn btn-detail btn-outline-secondary mt-2 btn-sm me-2"
                            data-bs-toggle="modal"
                            data-bs-target="#detailJobs"
                            data-bs-whatever="@mdo"
                            data-company="{{job.company}}"
                            data-title="{{job.title}}"
                            data-sector="{{job.sector}}"
                            data-description='{{job.description}}'
                            data-vacancies="{{job.vacancies}}"
                            data-experience="{{job.experience}}"
                            data-skills="{{job.skills}}"
                            data-location="{{job.location}}"
                            data-salary_range_start="{{job.salary_range_start}}"
                            data-salary_range_final="{{job.salary_range_final}}"
                            data-type="{{job.type}}"
                            data-compensation_type="{{job.compensation_type}}"
                            data-date_posted="{{job.date_posted}}"
                            data-date_closed="{{job.date_closed}}"
                            >
                            <i class="fa fa-eye"></i> 
                            </button>
                            
                         <a class="btn btn-outline-warning mt-2 btn-sm me-2 btn-edit " href="{% url 'user-admin-job-detail' job.id %}"><i class="fa fa-pen"></i></a>
                             
                        </button>
                        </button>
                              <button 
                              class="btn btn-outline-danger mt-2 btn-sm btn-delete"  
                              data-bs-toggle="modal" 
                              data-bs-target="#deleteJobModal"
                              data-bs-whatever="@mdo"
                              data-id = {{job.id}}
                              data-name = {{job.title}}
                              >
                              <i class="fa fa-trash"></i> 
                            </button>
                        </td>
                          </tr>
                          {% endfor %}
                          {% else %}
                          <tr>
                            <td class="text-center text-danger" colspan="9">No Data Found</td>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>

                      <!-- Pagination -->
             <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pagination-outline justify-content-center" >
                {% if jobs.has_previous %}
                  <li class="page-item">
                  <a class="page-link" href="?page={{ jobs.previous_page_number }}">Previous</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                  </li>
                {% endif %}
            
                {% if jobs.number|add:'-4' > 1 %}
                  <li class="page-item"><a class="page-link" href="?page={{ jobs.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}
            
                {% for i in jobs.paginator.page_range %}
                  {% if jobs.number == i %}
                    <li class="page-item active" aria-current="page">
                    <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  {% elif i > jobs.number|add:'-5' and i < jobs.number|add:'5' %}
                     <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
            
                {% if jobs.paginator.num_pages > jobs.number|add:'4' %}
                   <li class="page-item"><a class="page-link" href="?page={{ jobs.number|add:'5' }}">&hellip;</a></li>
                {% endif %}
            
                {% if jobs.has_next %}
                  <li class="page-item">
                  <a class="page-link" href="?page={{ jobs.next_page_number }}">Next</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                  </li>
                {% endif %}
                </ul>
              </nav>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'UserAdmin/include/footer.html' %}
    </div>
    <!-- end main content-->



<!--Detail Company Modal-->
  <!-- Modal -->
  <div class="modal fade" id="detailJobs" tabindex="-1" aria-labelledby="detailJobsLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailJobsLabel">Company Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div id="detailModalBody" class="modal-body">
        </div>
    </div>
  </div>
</div>
<!--End Modal -->

<!--Add Company Modal-->
  <!-- Modal -->
  <div class="modal fade" id="AddJob" tabindex="-1" aria-labelledby="AddJobLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddJobLabel">Company Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form  method="post" enctype="multipart/form-data">
          <div id="detailModalBody" class="modal-body">
            {% csrf_token %}
            {{form.as_p}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="submit" class="btn btn-primary">Save</button>
            
          </div>

        </form>
    </div>
  </div>
</div>
<!--End Modal -->

<!--Delete  Modal-->
  <!-- Modal -->
  <div class="modal fade" id="deleteJobModal" tabindex="-1" aria-labelledby="deleteJobModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteJobModalLabel">Delete Responsible Ministry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="h4 fw-normal" id="deleteJob"></p>
        </div> 
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="#" id="deleteJobAnchor" type="submit" class="btn btn-danger">Delete</a>
        </div>
        
      </div>
    </div>
  </div>
  <!--End Modal -->



</div>
<!-- END layout-wrapper -->

<script>
$(document).ready(function(){

    // Start Detail Data

    //Event handler that handle button on Click
    $(".btn-detail").on('click', function(){
          const buttonData = $(this).data()
          console.log(buttonData)
          //Open Modal
         handleDetailModalJob(
            buttonData.company, 
            buttonData.title, 
            buttonData.sector,
            buttonData.description,
            buttonData.vacancies,
            buttonData.experience,
            buttonData.skills,
            buttonData.location,
            buttonData.salary_range_start,
            buttonData.salary_range_final,
            buttonData.type,
            buttonData.compensation_type,
            buttonData.date_posted,
            buttonData.date_closed,
            )
    });


    handleDetailModalJob = (company , title , sector , description , vacancies , experience, skills , location , salary_range_start , salary_range_final , type , compensation_type ,  job_status , date_posted , date_closed , )=>{
        let htmlBody = `
        <div class="mt-3">
          <p class="fw-bold">Company: <span class="fw-normal">${company}</span></p>
          <p class="fw-bold">Title: <span class="fw-normal">${title}</span></p>
          <p class="fw-bold">Sector: <span class="fw-normal">${sector}</span></p>
          <p class="fw-bold">Description: <span class="fw-normal">${description}</span></p>
          <p class="fw-bold">Vacancies: <span class="fw-normal">${vacancies}</span></p>
          <p class="fw-bold">Experience: <span class="fw-normal">${experience}</span></p>
          <p class="fw-bold">Skills: <span class="fw-normal">${skills}</span></p>
          <p class="fw-bold">Location: <span class="fw-normal">${location}</span></p>
          <p class="fw-bold">Salary Range: <span class="fw-normal">${salary_range_start} </span></p>
          <p class="fw-bold">Salary Range: <span class="fw-normal">${salary_range_final} </span></p>
          <p class="fw-bold">Type: <span class="fw-normal">${type}</span></p>
          <p class="fw-bold">Compensation Type: <span class="fw-normal">${compensation_type}</span></p>
          <p class="fw-bold">Date Posted: <span class="fw-normal">${date_posted}</span></p>
          <p class="fw-bold">Date Closed: <span class="fw-normal">${date_closed}</span></p>
      </div>
        `
        $('#detailModalBody').html(htmlBody)

    }



     //Event handler that handle on Click to delete
     $(".btn-delete").on('click', function(){
          const buttonData = $(this).data()
          $("#deleteJobAnchor").attr("href", `/user-admin/delete-job_posting/${buttonData.id}`)
          $("#deleteJob").html(`Are you sure you want to delete <div> <code> ${buttonData.name}</code>? </div> `)
        })


    
         // Edit Data Detail 

    })

</script>

</body>
</html>