{% load static %}
<!doctype html>
<html lang="en">

<!-- head-->
{% include 'UserAdmin/include/head.html' %}
{{ form.media }}
<!--/ head-->

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    
    <!-- header-->
    {% include 'UserAdmin/include/sidebar.html' %}
    <!--/ header-->

   
    {% include 'UserAdmin/include/verticalBar.html' %}

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-sm table-hover caption-top ">
                      {% include 'UserAdmin/include/messages.html' %}                    
                      <caption>Questions</caption>
                        <button class="btn btn-primary float-end" 
                        data-bs-toggle="modal"
                        data-bs-target="#Addquestion"
                        data-bs-whatever="@mdo">Add New question</button>
                      <div class="row">

                        <form>
                          <div class="col-8 col-md-4 m-1">
                            <input type="text" name="q" class="form-control ps-3 pe-3" placeholder="Enter Key Word">
                          </div>
                          <div class="col-3 col-md-1 m-1">
                            <button type="submit" class="btn btn-primary" ><span class="mdi mdi-magnify"></span></button>
                          </div>        
                        </form>            
                      </div>

                        <thead  class="table-light">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">text</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if questions %}
                            {% for question in questions %}
                          <tr>
                            <th scope="row">{{count | add:forloop.counter}}</th>
                            <td id="question_name_{{ question.id }}" >{{question.text}}</td>
                            <td>
                               
                            <button 
                            id="questionButton_{{question.id}}"
                            type="button" 
                            class="btn btn-edit btn-outline-warning mt-2 btn-sm me-2"
                            data-bs-toggle="modal"
                            data-bs-target="#EditquestionModal"
                            data-bs-whatever="@mdo"
                            data-text="{{question.text}}"
                            data-id="{{question.id}}"
                            data-for_skill="{{question.for_skill}}"
                            data-answer="{{question.answer}}"
                            >
                            <i class="fa fa-pen"></i> 
                            </button>
                            
                        
                        </button>
                        </button>
                              <button 
                              class="btn btn-outline-danger mt-2 btn-sm btn-delete"  
                              data-bs-toggle="modal" 
                              data-bs-target="#deletequestionModal"
                              data-bs-whatever="@mdo"
                              data-id = "{{question.id}}"
                              data-text = "{{question.text}}"
                              >
                              <i class="fa fa-trash"></i> 
                            </button>
                        </td>
                          </tr>
                          {% endfor %}
                          {% else %}
                          <tr>
                            <td class="text-center text-danger" colspan="9">No Data Found</td>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>

                      <!-- Pagination -->
             <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pagination-outline justify-content-center" >
                {% if questions.has_previous %}
                  <li class="page-item">
                  <a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                  </li>
                {% endif %}
            
                {% if questions.number|add:'-4' > 1 %}
                  <li class="page-item"><a class="page-link" href="?page={{ questions.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}
            
                {% for i in questions.paginator.page_range %}
                  {% if questions.number == i %}
                    <li class="page-item active" aria-current="page">
                    <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  {% elif i > questions.number|add:'-5' and i < questions.number|add:'5' %}
                     <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
            
                {% if questions.paginator.num_pages > questions.number|add:'4' %}
                   <li class="page-item"><a class="page-link" href="?page={{ questions.number|add:'5' }}">&hellip;</a></li>
                {% endif %}
            
                {% if questions.has_next %}
                  <li class="page-item">
                  <a class="page-link" href="?page={{ questions.next_page_number }}">Next</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                  </li>
                {% endif %}
                </ul>
              </nav>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'UserAdmin/include/footer.html' %}
    </div>
    <!-- end main content-->



<!--Edit Company Modal-->
  <!-- Modal -->
  <div class="modal fade" id="EditquestionModal" tabindex="-1" aria-labelledby="EditquestionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-text" id="EditquestionModalLabel">Edit question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form  id="editquestionForm" method="post" enctype="multipart/form-data">
          <div id="detailModalBody" class="modal-body">
            <input type="hidden" value="" id="id_id">
            {{form.as_p}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button  id="saveSector" type="submit" class="btn btn-primary">Save changes</button>
            <button style="display: none;" id="btnLoadding" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
          </div>

        </form>
    </div>
  </div>
</div>
<!--End Modal -->


<!--Add Company Modal-->
  <!-- Modal -->
  <div class="modal fade" id="Addquestion" tabindex="-1" aria-labelledby="AddquestionLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-text" id="AddquestionLabel">Add New question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form  method="post" enctype="multipart/form-data">
          <div id="detailModalBody" class="modal-body">
            {% csrf_token %}
            {{form.as_p}}
            <div>
              <p class="text-danger">Add options here and select the answer with the button above it.</p>
              <div class="row" id="options-container">
                <div class="col-lg-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="selected-option" id="option1-radio" value="1">
                    <label class="form-check-label" for="option1-radio"></label>
                    <input class="form-control border" type="text" name="option" placeholder="Option 1">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="selected-option" id="option2-radio" value="2">
                    <label class="form-check-label" for="option2-radio"></label>
                    <input class="form-control border" type="text" name="option" placeholder="Option 2">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="mt-5">
              <button type="button" class="btn btn-outline-primary btn-primary" id="add-option">Add Option</button>
              <button type="button" class="btn btn-outline-primary btn-danger" id="remove-option">Remove Option</button>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="submit" class="btn btn-primary">Save</button>
            
          </div>

        </form>
    </div>
  </div>
</div>
<!--End Modal -->

<!--Delete  Modal-->
  <!-- Modal -->
  <div class="modal fade" id="deletequestionModal" tabindex="-1" aria-labelledby="deletequestionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-text" id="deletequestionModalLabel">Delete Sector</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="h4 fw-normal" id="deleteMessagequestion"></p>
        </div> 
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="#" id="deletequestionAnchor" type="submit" class="btn btn-danger">Delete</a>
        </div>
        
      </div>
    </div>
  </div>
  <!--End Modal -->



</div>
<!-- END layout-wrapper -->



<script>
$(document).ready(function(){

  
  let optionCount = 2; // Counter for tracking the number of options
    
    // Add Option button click event
    $('#add-option').click(function() {
      if (optionCount < 5) { // Maximum of 5 options allowed
        optionCount++; // Increment the option count
        
        // Generate HTML for the new option
        let newOptionHTML = `
          <div class="col-lg-6">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="selected-option" id="${optionCount}" value="${optionCount}">
              <label class="form-check-label" for="option${optionCount}-radio"></label>
              <input class="form-control border" type="text" id="${optionCount}" name="option" placeholder="Option ${optionCount}">
            </div>
          </div>
        `;
        
        // Append the new option HTML to the options container
        $('#options-container').append(newOptionHTML);
      }
    });
    
    // Remove Option button click event
    $('#remove-option').click(function() {
      if (optionCount > 2) { // Minimum of 2 options required
        // Remove the last option from the options container
        $('#options-container .col-lg-6:last-child').remove();
        optionCount--; // Decrement the option count
      }
    });  
  // Function to show toast messages
     showToast = (text, body, cssClass)=> {
      $.toast({
              heading: text,
              text: body,
              showHideTransition: 'slide',
              icon: cssClass,
              position: 'top-right',
              })
        }

    //Event handler that handle button on Click
    $(".btn-edit").on('click', function(){
          const buttonData = $(this).data()
          //Open Modal
          handleEditModalSector(buttonData.text, buttonData.id , buttonData.for_skill , buttonData.answer)
    });


    handleEditModalSector = (text, id)=>{
      $('#id_text').val(text)
      $('#id_id').val(id)
      $('#id_for_skill').val(id)
      $('#id_answer').val(id)
    }



     //Event handler that handle on Click to delete
     $(".btn-delete").on('click', function(){
          const buttonData = $(this).data()
          console.log(buttonData)
          $("#deletequestionAnchor").attr("href", `/user-admin/question-delete/${buttonData.id}`)
          $("#deleteMessagequestion").html(`Are you sure you want to delete <div> <code> ${buttonData.text}</code>? </div> `)
        })


      


    
         // Edit Data Detail

      $('#editquestionForm').on('submit', function(e){
        e.preventDefault()
        let id = $('#id_id').val()
        let text = $('#id_text').val()
        let for_skill = $('#id_for_skill').val()
        let answer = $('#id_answer').val()

       
        $.ajax({
          type: 'POST',
          url : '{% url "update_question" %}',
          data: {
              'id' : id,
              'text' : text,
              'for_skill' : for_skill,
              'answer' : answer,
              csrfmiddlewaretoken: '{{csrf_token}}'
            },
            beforeSend: function() {
              $('#saveSector').hide()
               $("#btnLoadding").show();
             },
             // hides the loader after completion of request, whether successfull or failor.             
             complete: function() {
              //Show save button finished 
               $('#saveSector').show()
               $("#btnLoadding").hide();
             },
          success: function(response){
            if(response.success){

              //show succuss message
              showToast('&#128515 Hello, User', 'Successfully Updated', 'success' )
              $('#EditquestionModal').modal('hide'); //Hide Modal


              let htmlName = $('#question_name_'+id)
              let buttonHtml = $('#questionButton_'+id) 
              //Update Table Value
              htmlName.text(text)

              //update Button Value
              buttonHtml.data("text", text)



            }else{
               //show succuss message
               showToast('&#128532 Hello User', 'Failed to update question.', 'error' )
            }
          },
          error: function(){
            //show succuss message
            showToast('&#128532 Hello User', 'Failed to update question.', 'error' )
          }
        })
      })

    })

</script>

</body>
</html>