{% load static %}
<!doctype html>
<html lang="en">

<!-- head-->
{% include 'Admin/include/head.html' %}
<!--/ head-->

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    
    <!-- header-->
    {% include 'Admin/include/sidebar.html' %}
    <!--/ header-->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">

        <div data-simplebar class="h-100">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class=" list-unstyled" id="side-menu">
                    <li class="menu-title">Menu</li>

                    <li>
                        <a href="index.html" class="waves-effect">
                            <i class="mdi mdi-home-variant-outline"></i><span
                                class="badge rounded-pill bg-primary float-end">3</span>
                            <span>Dashboard</span>
                        </a>
                    </li>


                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-database-outline"></i>
                            <span>Data</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="#">Department</a></li>
                            <li><a href="#">Batch</a></li>
                            <li><a href="#">Course</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-account-multiple-outline"></i>
                            <span>Account</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="#">Registrar</a></li>
                            <li><a href="#">Department Head</a></li>
                            <li><a href="#">Lecturer</a></li>
                            <li><a href="#">Student</a></li>
                        </ul>
                    </li>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <!-- Left Sidebar End -->

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> ©Seraye.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted by <a
                                href="https://1.envato.market/themesdesign" target="_blank">MAK</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>
</html>