{% load static %}
<!doctype html>
<html lang="en">

<!-- head-->
{% include 'Admin/include/head.html' %}
<!--/ head-->

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    
    <!-- header-->
    {% include 'Admin/include/sidebar.html' %}
    <!--/ header-->

   
    {% include 'Admin/include/verticalBar.html' %}

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'Admin/include/footer.html' %}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- JAVASCRIPT -->
<script src="{% static 'Admin/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'Admin/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'Admin/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'Admin/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'Admin/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'Admin/js/app.js' %}"></script>

</body>
</html>