	  
      		<a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
            <i class="fas fa-bars me-2"></i>Dashboard Navigation
          </a>
      <div class="collapse " id="MobNav">
        <div class="dashboard-nav">
          <div class="dashboard-inner">
            <ul data-submenu-title="Main Navigation">
              <li class="{% if request.path == '/user-dashboard/' %}active{% endif %}">
                <a href="{% url 'user-dashboard' %}"
                  ><i class="lni lni-dashboard me-2 "></i>Dashboard</a
                >
              </li>
              <li class="{% if request.path == '/user-add-resume/'%}active{% endif %}
              {% if request.path == '/user-add-education/'%}active{% endif %}
              {% if request.path == '/user-add-experience/'%}active{% endif %} " >
                <div class="dropdown d-grid text-left">
                  <button class="btn dropdown-toggle text-start border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class=""><i class="lni lni-add-files me-2"></i>Resume</span> 
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'user-resume' %}">Personal Info</a></li>
                    <li><a class="dropdown-item" href="{% url 'user-add-education' %}">Education</a></li>
                    <li><a class="dropdown-item" href="{% url 'user-add-experience' %}">Experience</a></li>
                    <li><a class="dropdown-item" href="{% url 'user-add-project' %}">Project</a></li>
                    {% comment %} <li><a class="dropdown-item" href="{% url 'user-add-certification' %}">Certification</a></li> {% endcomment %}
                    <li><a class="dropdown-item" href="{% url 'user-add-language' %}">Language</a></li>
                  </ul>
                </div>
               </li>


    




              <li class="{% if request.path == '/user-applied-job/' %}active{% endif %}">
                <a href="{% url 'user-applied-job' %}"
                  ><i class="lni lni-briefcase me-2"></i>Applied jobs</a
                >
              </li>
              <li class="{% if request.path == '/validate_skill_list/' %}active{% endif %}">
                <a href="{% url "validate_skill_list"  %}"
                  ><i class="lni lni-checkmark me-2"></i>Validate Skills</a
                >
              </li>
             
              <li class="{% if request.path == '/user-bookmark/' %}active{% endif %}">
                <a href="{% url 'user-bookmark'%}"
                  ><i class="lni lni-bookmark me-2"></i>Bookmark Jobs</a
                >
              </li>
            </ul>
            <ul data-submenu-title="My Accounts">
              <li class="{% if request.path == '/user-profile/' %}active{% endif %}">
                <a href="{% url 'user-profile' %}"
                  ><i class="lni lni-user me-2"></i>My Profile
                </a>
              </li>
              <li class="{% if request.path == '/user-change-password/' %}active{% endif %}">
                <a href="{% url 'user-change-password'%}"
                  ><i class="lni lni-lock-alt me-2"></i>Change Password</a
                >
              </li>
              <li>
                <a href="{% url 'logout' %}"
                  ><i class="lni lni-trash-can me-2"></i>Log Out</a
                >
              </li>
              <li>
                <button 
                          class="btn btn-delete"  
                          data-bs-toggle="modal" 
                          data-bs-target="#deleteaccountModal"
                          data-bs-whatever="@mdo"
                          >
                          <i class="lni lni-trash-can me-2"></i> 
                          Delete account
                </button>
            </li>
            </ul>
          </div>
        </div>
      </div>



      <!--Delete  Modal-->

<div class="modal fade" id="deleteaccountModal" tabindex="-1" aria-labelledby="deleteaccountModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-text" id="deleteaccountModalLabel">Delete Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="h4 fw-normal" id="deleteMessagequestion"></p>
      </div> 
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="#" id="deleteaccountAnchor" type="submit" class="btn btn-danger">Delete</a>
      </div>
      
    </div>
  </div>
</div>

{% block scripts %}
  <!-- Include the necessary JavaScript libraries -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

  <script>
    $(document).ready(function() {
      $(".btn-delete").on('click', function(){
        $("#deleteaccountAnchor").attr("href", `/user-admin/account_delete`);
        $("#deleteMessagequestion").html(`<code> <h3> Warning !!! </h3></code> <br>  Deleting your account is irreversible and will permanently remove all your data. <br> <br> <code> Are you absolutely sure you want to proceed? </code>`);
      });
    });
  </script>
{% endblock %}