{% load static %}
<!doctype html>
<html lang="en">

<!-- head-->
{% include 'CompanyAdmin/include/head.html' %}
<!--/ head-->

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    
    <!-- header-->
    {% include 'CompanyAdmin/include/sidebar.html' %}
    <!--/ header-->

   
    {% include 'CompanyAdmin/include/verticalBar.html' %}

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                   <!-- start page title -->
                   <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    
                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="ri-group-line"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Users</p>
                                        <h5 class="mb-3 Single1">{{total_users}}</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="mdi mdi-eye-outline"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Views</p>
                                        <h5 class="mb-3 Single2">{{total_views}}</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="mdi mdi-briefcase-variant-outline"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Job's</p>
                                        <h5 class="mb-3 Single3">{{total_jobs}}</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex text-muted">
                                    <div class="flex-shrink-0  me-3 align-self-center">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                <i class="mdi mdi-pencil-outline"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <p class="mb-1">Total Applicant</p>
                                        <h5 class="mb-3 Single4">{{total_applicant}}</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title">Overview</h5>
                                    </div>
                                    <figure class="highcharts-figure">
                                        <div id="container"></div>
                                        <p class="highcharts-description">
                                            An Exquisite Visualization: A Comprehensive Chart Exhibiting the Utilization of Rotated Axis Labels and Data Labels to Present Precise Sector-wise Job Counts                                           
                                        </p>
                                    </figure>
                                </div>

                                <div>
                                    <div id="mixed-chart" class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                    <div class="col-xl-4 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex  align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title">Applications Status</h5>
                                    </div>
                                </div>

                                <div>
                                    <div id="radialBar-chart" class="apex-charts" dir="ltr"></div>
                                </div>

                                <div class="row  pt-4 pb-4 justify-content-center">

                                    <div class="col-3">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-secondary font-size-18">
                                                    <i class="mdi mdi-account-clock-outline"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">Pending</h5>
                                            <p class="text-muted mb-0">{{application_status_pending}}</p>
                                        </div>
                                    </div>


                                    <div class="col-3">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-info font-size-18">
                                                    <i class="mdi mdi-account-voice"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">In Review</h5>
                                            <p class="text-muted mb-0">{{application_status_in_review}}</p>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-success font-size-18">
                                                    <i class="mdi mdi-check-bold"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">Hired</h5>
                                            <p class="text-muted mb-0">{{application_status_hired}}</p>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-danger font-size-18">
                                                    <i class="mdi mdi-close-thick"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">Rejected</h5>
                                            <p class="text-muted mb-0">{{application_status_rejected}}</p>
                                        </div>
                                    </div>

                                </div>

                                
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->


                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex  align-items-center">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title">Accounts</h5>
                                    </div>
                                </div>

                                <div>
                                    <div id="radialBar-chart" class="apex-charts" dir="ltr"></div>
                                </div>

                                <div class="row  pt-4 pb-5 justify-content-center">

                                    <div class="col-6">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-primary font-size-18">
                                                    <i class="mdi mdi-account-star"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">Admin's</h5>
                                            <p class="text-muted mb-0">{{company_admins}}</p>
                                        </div>
                                    </div>


                                    <div class="col-6">
                                        <div class="social-source text-center mt-3">
                                            <div class="avatar-xs mx-auto mb-3">
                                                <span class="avatar-title rounded-circle bg-secondary font-size-18">
                                                    <i class="mdi mdi-account-voice"></i>
                                                </span>
                                            </div>
                                            <h5 class="font-size-15">Interviewer's</h5>
                                            <p class="text-muted mb-0">{{company_interviewers}}</p>
                                        </div>
                                    </div>

                                </div>

                                
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->


                    </div>
                    <!-- end col -->


                    
                </div>
                <!-- end row -->

                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Recent Job's</h4>

                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 60px;">#</th>
                                                <th scope="col">Title</th>
                                                <th scope="col">Sector</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Post Date</th>
                                                <th scope="col">Published</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for job in recent_jobs%}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{job.title}}</td>
                                                <td>{{job.sector}}</td>
                                                <td>{{job.get_type_display}}</td>
                                                <td>{{job.date_posted | timesince}} Ago</td>
                                                <td>

                                                    {% if job.job_status %}
                                                    <i class="text-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                                      <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                                    </svg></i>
                                                    {% else %}
                                                    <i class="text-danger">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                                                      </svg>
                                                    </i>
                                                    {% endif %}
                      
                      
                      
                                                  </td>
                                                <td>
                                                    <a class="btn btn-outline-warning mt-2 btn-sm me-2 btn-edit " href="{% url 'company-admin-job-posting-detail' job.id %}"><i class="fa fa-pen"></i></a>
                                                </td>
                                            </tr>

                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'CompanyAdmin/include/footer.html' %}
    </div>
    <!-- end main content-->

</div>

<!-- END layout-wrapper --></body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
    $(document).ready(function() {
        $(".fadeIn").fadeIn(2000); // Fade in over 2 seconds
      });

    $({ Counter: 0 }).animate({
        Counter: $('.Single1').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single1').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
        Counter: $('.Single2').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single2').text(Math.ceil(this.Counter));
  }
});


$({ Counter: 0 }).animate({
        Counter: $('.Single3').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single3').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
        Counter: $('.Single4').text()
    }, {
       duration: 1000,
       easing: 'swing',
       step: function() {
         $('.Single4').text(Math.ceil(this.Counter));
  }
});


</script>


<script>
    Highcharts.chart('container', {
    chart: {
        type: 'column',
        height: 400
    },
    title: {
        text: 'Overview of Sector and Jobs'
    },
    xAxis: {
        type: 'category',
        labels: {
            autoRotation: [-45, -90],
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
    },
    legend: {
        enabled: false
    },
    series: [{
        name: 'Population',
        colorByPoint: true,
        groupPadding: 0,
        data: {{sectors_with_job_counts_lists | safe }},
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            inside: true,
            verticalAlign: 'top',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});

</script>
</html>