 {% load static %}
 <!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100 ">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="{% url 'admin-dashboard' %}" class="waves-effect">
                        <i class="mdi mdi-home-variant-outline"></i><span
                            class="badge rounded-pill bg-primary float-end">3</span>
                        <span>Dashboard</span>
                    </a>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-database-outline"></i>
                        <span>Data</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'company-admin-job-posting'%}">Job Posting</a></li>
                        <li><a href="{% url 'user-admin-job-posting'%}">Applicant</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-account-group"></i>
                        <span>Account</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'company_admins'%}">Admin's </a></li>
                        <li><a href="{% url 'company_interviewer'%}">Interviewer's</a></li>
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-cog"></i>
                        <span>Settings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'admin-social-media'%}">Company Info</a></li>
            </ul>


         <div style="position: absolute; bottom: 0;"> 

            <div class="navbar-brand-box text-center">
                <a href="{% url 'admin-dashboard'%}" class="logo logo-light">

                    <span class="logo-lg">
                        <img class="img-fluid rounded mx-auto d-block mb-2"  src="{% static 'assets/images/logo/logo-no-background.png'   %}"  alt="logo-sm-light">
                    </span>
                </a>
            </div>


               
        </div> 
                
            </div>
        <!-- Sidebar -->

        
    </div>
</div>
<!-- Left Sidebar End -->