 {% load static %}
 <!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100 ">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="index.html" class="waves-effect">
                        <i class="mdi mdi-home-variant-outline"></i><span
                            class="badge rounded-pill bg-primary float-end">3</span>
                        <span>Dashboard</span>
                    </a>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-database-outline"></i>
                        <span>Data</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'user-admin-company'%}">Companies</a></li>
                        <li><a href="{% url 'user-admin-sector'%}">Job Categories</a></li>
                        <li><a href="{% url 'user-admin-job-posting'%}">Job Posting</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-account-group"></i>
                        <span>Account</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'user-admin-company'%}">Users</a></li>
                        <li><a href="{% url 'user-admin-company'%}">Candidates</a></li>
                    </ul>
                </li>
            </ul>


            {% comment %} <div style="position: absolute; bottom: 0;"> 
                <img class="img-fluid rounded mx-auto d-block mb-2" style="width: 60%;"   src="{% static   %}"  alt="logo-sm-light">
        </div> {% endcomment %}
                
            </div>
        <!-- Sidebar -->

        
    </div>
</div>
<!-- Left Sidebar End -->