{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Dashboard | Seraye Job Portal </title>
	  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" />
    {% include 'include/head.html' %}
  </head>

  {% include 'RMS/user/include/question_style.html'%}

  <body>

	<div class="mt-5">{% include 'include/navbar.html'%}</div>
      <div class="dashboard-wrap bg-light">
		 <!--Left Navbar-->
		 {% include 'RMS/user/include/user-dashboard.html'%}

        <div class="dashboard-content ">
          <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
              <div class="colxl-12 col-lg-12 col-md-12">
                <h1 class="ft-medium">Hello, {{user.first_name}} {{user.last_name}}</h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="theme-cl">Validate Your Skill {{skill.skill}}</a>
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>

      {% if questions  %}
      <p style="font-size: 20px;"> <span  class="text-danger">Warning</span> If you live this page you will have to start over. </p>

      <form id="regForm" method="POST">
        {% csrf_token %}
        <div class="row">
           <div class="col-lg-9">
            <h1>Questions for {{ skill }} </h1>
           </div>
           <div class="col-lg-3">
            
            <div  id="app" ></div> 
            <label for="app" > Time Remaining </label>
           </div>
        </div>
        
        
        <!-- One "tab" for each step in the form: -->
        {% for question in questions %}
        <div class="tab">
          <p style="font-size:20px">{{ question.text }}</p>
          <div class="form-group">
            {% for choice in choices %}
            {% if choice.for_question == question %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="choice_{{question.id}}" id="{{choice.id}}" value="{{choice.id}}" {% if choice.checked %}checked{% endif %} style="margin-right: -800px" />
                <label class="form-check-label" for="{{choice.id}}">{{ choice.text }}</label>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
        <!-- Circles which indicate the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          {% for question in questions %}
          <span class="step"></span>
          {% endfor %}
        </div>
      </form>

      {% else %}

      <p style="font-size: 20px;"> <span  class="text-danger">There are no questions for this skill yet.</span> </p>



      {% endif %}

        </div>
      </div>


      
      <a id="back2Top" class="top-scroll" title="Back to top" href="#"
        ><i class="ti-arrow-up"></i
      ></a>
    </div>
  {% include 'RMS/user/include/question_js.html'%}
	{% include 'include/footer.html' %}
  {% include 'include/footerjs.html' %}

  </body>
  </html>
