{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Dashboard | Seraye Job Portal </title>
	  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" />
    {% include 'include/head.html' %}
  </head>

  <body>

	<div class="mt-5">{% include 'include/navbar.html'%}</div>
      <div class="dashboard-wrap bg-light">
		 <!--Left Navbar-->
		 {% include 'RMS/user/include/user-dashboard.html'%}

        <div class="dashboard-content ">
          <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
              <div class="colxl-12 col-lg-12 col-md-12">
                <h1 class="ft-medium">Hello, {{user.first_name}} {{user.last_name}}</h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="theme-cl">Validate Your Skills</a>
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>

          {% include 'RMS/messages.html'%}

          <div class="dashboard-widg-bar d-block">
            <div>

              <h2 class="mb-4"> Unvalidated Skills </h2>
              {% for i in user_skills %}
                
              {% if i.validated  %}
              
                <a href="{% url "instruction" i.skill.id %}" class="btn btn-primary">
                  {{i.skill}} 
            
                </a>
          
                   
      
              {% endif %} 
                
              {% endfor %}
              </div>
           
          </div>

          <div class="dashboard-widg-bar d-block">
            <div>

              <h2 class="mb-4 mt-4"> Validated Skills </h2>
              {% for i in user_skills %}
                
              {% if i.validated == False  %}
              
              <button class="btn btn-primary">
        
                {{i.skill}} 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                  <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
                </svg>
              </button>
          
                   
      
              {% endif %} 
                
              {% endfor %}
              </div>
           
          </div>
         
          

        </div>
      </div>
   
      <a id="back2Top" class="top-scroll" title="Back to top" href="#"
        ><i class="ti-arrow-up"></i
      ></a>
    </div>
	{% include 'include/footer.html' %}
  {% include 'include/footerjs.html' %}

  </body>
  </html>
